/* Side Panel */

.side-panel {
    /* border-right: 1px solid black; */
    height: 90vh;
    padding: 5vh 3vh;

}

.header-panel {
    height: 5vh;
    padding: 2.5vh;
    /* border-bottom: 1px solid black; */
    font-size: 3vh;
}

.content-panel {
    height: 80vh;
    padding: 5vh;
    overflow: hidden;
    background-color: rgb(242,237,243);
}

.notifications {
    padding: 15px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 3px 2px rgb(199, 199, 199);
    margin-top: 10px;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 90vh;
    right: 50px;
    font-size: 13px;
    border-radius: 10px;
    text-align: justify;
}

.btn-join{
    background-color: rgb(255, 191, 0);
    border: 1px solid rgb(52, 52, 52);
    width: 60px;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(152, 152, 152);
}

.btn-loader{
    size: 20px;
}

.counter{
    width: 0.8vh;
    height: 0.8vh;
    padding: 0.25vh 0.75vh 1.25vh 0.8vh;
    left: -1.75vh;
    top: -0.7vh;
    border-radius: 50%;
    background-color: rgb(176, 168, 18);
    font-size: 1.75vh;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative;
}

.icon-notification {
    color: rgb(246 190 21);
    text-shadow: 1px 1px 1px #9b9b9b;
}

.icon-notification:hover {
    text-shadow: 1px 1px 1px black !important;
}

.profile-slide {
    padding: 15px;
    position: absolute;
    box-shadow: 1px 2px 2px 2px gray;
    background-color: white;
    margin-top: 3vh;
    width: auto;
    min-width: 20vh;
    height: auto;
    display: none;
    max-width: 200px;
    max-height: 90vh;
    right: 5vh;
    font-size: 13px;
    border-radius: 10px;
    text-align: justify;
}

.profile-slide:hover {
    display: block;
}

.header-profile:hover+.profile-slide {
    display: block !important;
}

.header-profile {
    width: auto;
    min-width: 150px;
}

.txtpassword {
    border: none;
    width: 84%;
}